@font-face {
    font-family: "ATOMICCLOCKRADIO";
    src:url("ATOMICCLOCKRADIO.ttf");
}
body {
    background-color : #333;
}
.container {
    text-align: center;
    /* display: inline */
}
.board {
    display: flex;
    margin-top: 2.5%;
    text-align: center;
    
}
.bootstrap {
    background-color : #333;
    margin-top: 5%;
}
.center {
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #333;
    border: 5px solid black;
    z-index: 1;
    border-radius: 100%;
    top: 27%;
    left: 27%;
}
h1 {
    margin-top: 55px;
    margin-left: 4px;
    font-family: 'Bungee Shade';
    color: white;
}
.buttons {
    position: relative;
    border: 5px solid black;
    height: 350px;
    width: 350px;
    border-radius: 100%;
    margin-left: 30%;
}
.btn.btn-info {
    background-color: ivory;
    color: black;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active,
.btn.btn-info.active {
  color: #ffffff;
  background-color: rgb(48, 0, 179);
  border-color: rgb(48, 0, 179);
}
.red {
    height: 49%;
    width: 49%;
    border: 1px solid black;
    background-color: red;
    float: left;
    position: relative;
    border-radius: 175px 0 0 0;
}
.red:hover {
    border: 1px solid white;
}
.red:active {
    background-color: black;
}

.green {
    height: 49%;
    width: 49.6%;
    border: 1px solid black;
    background-color: green; 
    float: left;
    position: relative;
    border-radius: 0 175px 0 0;
}
.green:hover {
    border: 1px solid white;
}
.green:active {
    background-color: black;
}
.blue {
    height: 50%;
    width: 49%;
    border: 1px solid black;
    background-color: blue;
    float: left;
    position: relative;
    border-radius: 0 0 0 175px;
}
.blue:hover {
    border: 1px solid white;
}
.blue:active {
    background-color: black;
}
.yellow {
    height: 50%;
    width: 49.6%;
    border: 1px solid black;
    background-color: yellow;
    float: left;
    position: relative;
    border-radius: 0 0 175px 0;
}
.yellow:hover {
    border: 1px solid white;
}
.yellow:active {
    background-color: black;
}
.options {
    margin-left: 100px
}
/* .score {
    display: flex;
    margin-right: 10px;
} */
.scoreNumber {
    color: #91321C;
    font-family: "ATOMICCLOCKRADIO";
    font-size: 40px;
    font-weight: 100;
    background-color: black;
    margin: 5px 0 10px 0;
    padding-top: 10px;
    border-radius: 25%;
}
#highestScoreNumber {
    color: lime;
}
.highlight {
    opacity: .4;
    border: 1px solid white;
}
.highlightClick {
    border: 1px solid white
}

